node_modules/
.shared
dist/
build/
*.log
.env
.DS_Store
Thumbs.db
*.tmp
*.swp
.vscode/
.idea/
.gemini
.specify
.agent
specs
apps/mobile/google-services.json
.expo 
build
.env.local
google-services.json